.cart_container{
    max-width: 1200px;
}

.cart{
    position: absolute;
    width: 84px;
    height: 40px;
    left: 50px;
    top: 100px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    color: #1D1F22;
}

.name_cart{
    position: absolute;
    width: 292px;
    height: 27px;
    left: 101px;
    top: 195px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #1D1F22;
    margin-bottom: 10px;
}

.cart_title{
    position: absolute;
    width: 292px;
    height: 27px;
    left: 101px;
    top: 240px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #1D1F22;
}

.cart_prices{
    position: absolute;
    width: 86px;
    height: 46px;
    left: 100px;
    top: 310px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #1D1F22;
}



.boxes{
    position: relative;
    top: 35px;
    left: -10px;
}

.cart_box{
    position: relative;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 50px;
    margin-top: 5px;
    height: 35px;
    cursor: pointer;
    left: 100px;
    top: 280px;
    border: 1px solid black;
    margin-left: -2px;
}

.cart_box2{
    position: relative;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 50px;
    margin-top: 5px;
    height: 35px;
    cursor: pointer;
    right: -160px;
    top: 240px;
    border: 1px solid black;
}


.icrement{
   position: absolute;
   left: 650px;
   border: 1px solid #1D1F22;
   box-sizing: border-box;
   width: 50px;
   display: flex;
   justify-content: center;
   height: 45px;
   top: 250px;
   border-radius: 50%;
}

.icrement:hover{
    cursor: pointer;
    background-color: darkgreen;
}

.decrement{
    position: absolute;
   left: 650px;
   top: 380px;
   border: 1px solid #1D1F22;
   box-sizing: border-box;
   width: 50px;
   display: flex;
   justify-content: center;
   height: 45px;
   border-radius: 50%;
}

div.decrement:hover{
    cursor: pointer;
    background-color:darksalmon;
} 


.delete{
    position: relative;
    left: 1200px;
    margin-top: 70px;
}

.cart_image{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 900px;
    top: 200px;
}

.cart_id{
    position: relative;
    left: 100px;
    top: 200px;
    font-size: 24px;
    font-weight: 100;
}

@media (max-width:1300px){
      .delete{
          position: relative;
         left: 10px;
         top: 200px;
     }
    .cart{
     left: 10px;
    }
     .boxes{
        left: -100px;
        top: 330px;
    }
    .cart_prices{
        left: 10px;
        top: 620px;
    }  
    .cart_title{
        left: 10px;
        top: 185px;

    }
    .name_cart{
        left: 10px;
        top: 150px;
    }
    .icrement{
        left: 10px;
        top: 450px;
    }
    .decrement{
        left: 10px;
        top: 500px;
    }
    .cart_image{
        left: 150px;
        top: 300px;

    }

}