h2 {
    width: 299px;
    height: 68px;
    top: 160px;
    left: 101px;
    font-family: -webkit-pictograph;
    font-style: revert;
    font-size: 42px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #1D1F22;
}
